<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">

      <div class="wrapper">

        <div class="alert">
          Feedback for these lessons is very much welcome.
		  If you like or hate something about a lesson let us know, either on
		  <a class="alertlink" href="https://github.com/{{site.github_username}}{{site.baseurl}}/issues/new">GitHub</a>,
		  via <a class="alertlink" href="mailto:{{site.email}}">Mail</a>
		  or just tell us in person ;)
          <a href="#" class="close">x</a>
        </div>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
